{% extends 'studio/settings/_layout' %}

{% set title = 'General settings'|t('studio') %}

{% set crumbs = [] %}

{% block content %}
    {% import "_includes/forms" as forms %}
	<form action="" method="post" accept-charset="UTF-8" data-saveshortcut>
		{{ redirectInput('studio/settings/general') }}
		{{ csrfInput() }}
		{{ forms.lightswitchField({
            label: 'On Asset Indexes utility page, only list the volumes that user has saveAssets:[VolumeUID] permission'|t('studio'),
            id: 'checkAccessToVolumes',
            name: 'checkAccessToVolumes',
            required: false,
            errors: settings.getErrors('checkAccessToVolumes'),
            value: 1,
            on: settings.checkAccessToVolumes is defined ? settings.checkAccessToVolumes
        }) }}
		<p>
			<input type="hidden" name="action" value="studio/settings/general-save">
			<input type="submit" class="btn submit" value="{{ 'Save'|t('studio') }}">
		</p>
	</form>
{% endblock %}